{% extends "layout.njk" %}

{% block head %}
    <title>Erro 404 - Rocketseat</title>
{% endblock %}

{% block content %}
    <body>
        <div class="not-found">
            <img src="https://ik.imagekit.io/1n1swj1w28/404_page_hr23CWGLr.png" alt="imagem Erro 404">
        
            <h1 >Não foi encontrado nenhum conteúdo.</h1>
        </div>
{% endblock %}

